<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <rd-widget>
                   <rd-widget-header title="Create new application">
                       <i class="fa fa-circle right"></i>
                   </rd-widget-header>
                   <rd-widget-body>
                       <div ng-if="tokens.length < 1" class="alert alert-info" role="alert">
                          <p>You have no tokens in this account! <a ng-click="$parent.authSlack()">Click here</a> to authorize Prud.io in your account.</p>
                       </div>
                       <form ng-if="tokens.length > 0" name="createApp">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name">
                            </div>
                            <input ng-if="tokens.length == 1" type="hidden" name="api_token" value="{{ tokens[0].token }}">
                            <div ng-if="tokens.length > 1" class="form-group">
                                <label for="api_token">Token</label>
                                <select class="form-control" name="api_token" ng-model="selection.item" ng-change="getBots(selection.item)">
                                    <option ng-repeat="token in tokens" value="{{ token.id }}">Token for team {{ token.team }} ({{ token.user }})</option>
                                </select>
                            </div>
                            <div ng-if="bots.length > 0" class="form-group">
                                <label for="bot_token">Choose your bot user (show only when user selects token)</label>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="bot in bots"><input type="radio" name="bot_user" value="{{ bot.id }}"> - {{ bot.name }}</li>
                                </ul>
                            </div>
                            <div ng-if="bots.length == 0" class="alert alert-info" role="alert">
                               <p>You have no bot users in your team!</p>
                            </div>
                            <div ng-hide="createApp.bot_user" class="form-group">
                                <label for="name">Bot Token (show only when user select bot)</label>
                                <input type="text" class="form-control" id="token" placeholder="xoxb-...">
                            </div>

                            <button type="submit" class="btn btn-primary">Create</button>
                       </form>
                   </rd-widget-body>
                </rd-widget>
            </div>
        </div>
    </div>
</div>
