<div class="row">
    <div class="col-lg-12">
        <div class="apps" ng-repeat="application in applications">
            <div class="row">
                <div class="col-lg-12">
                       <rd-widget>
                           <rd-widget-header title="{{ application.name }}">
                               <i ng-if="application.online" style="color: green" title="Online" class="fa fa-circle right"></i>
                               <i ng-if="!application.online" style="color: red" title="Offline" class="fa fa-circle right"></i>
                           </rd-widget-header>
                           <rd-widget-body classes="no-padding">
                            <div class="table-responsive">
                              <table class="table" style="margin-bottom: 0">
                                  <tbody>
                                      <tr>
                                        <td colspan="2"><a href="#/app/{{ application.id }}">View more</a></td>
                                      </tr>
                                      <tr>
                                          <td><small>{{ application.roomCount || 0 }} converstations</small></td>
                                          <td align="right"><small style="text-align: right">Created <span am-time-ago="application.created"></span></small></td>
                                      </tr>
                                  </tbody>
                              </table>
                            </div>
                           </rd-widget-body>
                       </rd-widget>
                </div>
            </div>
        </div>
    </div>
</div>
