<div class="row">
    <div class="col-lg-12">
        <div class="apps">
            <div class="row">
                <div class="col-lg-12">
                       <rd-widget>
                           <rd-widget-header title="{{ application.name }}">
                               <i ng-if="application.online" style="color: green" title="Online" class="fa fa-circle right"></i>
                               <i ng-if="!application.online" style="color: red" title="Offline" class="fa fa-circle right"></i>
                           </rd-widget-header>
                           <rd-widget-body classes="no-padding">
                            <div class="table-responsive">
                              <table class="table" style="margin-bottom: 0">
                                  <tbody>
                                      <tr>
                                        <td colspan="2">
                                          AppId: <strong>{{ application.appId }}</strong>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">
                                          Use this code in your website:
                                          <pre>&#x3C;script src=&#x22;http://chat.prud.io/client.js?appid={{ application.appId }}&#x22; async&#x3E;&#x3C;/script&#x3E;</pre>
                                          Find out more options in our <a href="#">docs</a>.
                                          <hr>
                                          <a class="btn btn-default" ng-click="delete()" title="Delete {{ application.name }}"><i class="fa fa-trash-o"></i></a>
                                          <a ng-if="application.online" ng-click="turnOff()" class="btn btn-default" title="Turn off {{ application.name }}"><i class="fa fa-toggle-on"></i></a>
                                          <a ng-if="!application.online" ng-click="turnOn()" class="btn btn-default" title="Turn on {{ application.name }}"><i class="fa fa-toggle-off"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                          <td><small>{{ application.roomCount || 0 }} converstations</small></td>
                                          <td align="right"><small style="text-align: right">Created <span am-time-ago="application.created"></span></small></td>
                                      </tr>
                                  </tbody>
                              </table>
                            </div>
                           </rd-widget-body>
                       </rd-widget>

                      <!-- THIS IS PRUD.IO 
                      <script src="http://chat.prud.io/client.js?appid={{ application.appId }}" async></script>
                      <script>

                        window._PrudioSettings = {
                          title: 'Trying out',
                        };

                      </script>
                      PRUD.IO END -->

                </div>
            </div>
        </div>
    </div>
</div>
