/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
}



a {
    text-decoration: none;
    color: #252a3a;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: #356aa0;
	background: -moz-linear-gradient(-45deg,  #356aa0 0%, #252a3a 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#356aa0), color-stop(100%,#252a3a));
	background: -webkit-linear-gradient(-45deg,  #356aa0 0%,#252a3a 100%);
	background: -o-linear-gradient(-45deg,  #356aa0 0%,#252a3a 100%);
	background: -ms-linear-gradient(-45deg,  #356aa0 0%,#252a3a 100%);
	background: linear-gradient(135deg,  #356aa0 0%,#252a3a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#252a3a',GradientType=1 );
}

#nav h3 {
	color: rgba(34, 47, 75, 0.8);
	margin: 0.9em 1em;
}

#nav .beta {
    color: rgba(34, 47, 75, 0.3);
    font-weight: normal;
}

#nav li {
    text-shadow: -1px -1px 0px #111;
}

/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.8em;
    right: 0.8em;
    position: absolute;
    color: white;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */

#nav .pure-menu.pure-menu-open {
    background: transparent;
    border: none;
    border-top: 1px solid #356aa0;
    margin-top: 0.8em;
    padding-top: 0.8em;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: #252a3a;
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:100%;
        color: #252a3a;
        text-shadow: none;
    }


/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
    color: rgb(75, 113, 151);
}

.email-content-controls {
	text-align: right;
}

    .email-avatar {
    	float: left;
        border-radius: 50%;
        margin-right: 0.8em;
    }
    .email-name {
        margin: 0;
    	float: right;
    	margin-top: 0.8em;
        text-transform: uppercase;
        color: #999;
    }
    	.email-name .fa {
    		margin-left: 1.5em;
    	}
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #1b98f8;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 0.5em 2em;
}

    .email-content-header {
        border-bottom: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            margin-bottom: 1px;
            font-weight: normal;
        }

    .email-avatar {
        width: 40px;
        height: 40px;
    }


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:260px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-260px; /* "left col (nav + list)" width */
        width: 260px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #main {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 260px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        width: 100%;
        position: static;
        margin: 0;
        padding: 0;
    }
}
