<div class="row" ng-controller="loginCtrl">
  <div class="col-sm-6 col-sm-offset-3">

    <rd-widget>
      <rd-widget-header icon="fa-key" title="Login">
        <a href="#" title="learn about Prudio">what is this about?</a>
      </rd-widget-header>

      <rd-widget-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur.
        </p>

        <hr>

        <form>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <div class="form-group">
            <button name="button" class="btn btn-primary">Sign In</button> or did you <a href="#/password-reset">forgot your password?</a>
          </div>

          <div class="form-group">

          </div>
        </form>

      </rd-widget-body>

      <rd-widget>

  </div>
</div>
