<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <rd-widget>
      <rd-widget-header icon="fa-key" title="Reset your password">
        <a href="#" title="learn about Prudio">what is this about?</a>
      </rd-widget-header>

      <rd-widget-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur.
        </p>

        <hr>

        <form>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="john@mail.com">
          </div>
          <div class="form-group">
            <button name="button" class="btn btn-primary">Reset</button> or create a <a href="#/register">new account?</a>
          </div>
        </form>

      </rd-widget-body>

      <rd-widget>

  </div>
</div>
