<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <rd-widget>
      <rd-widget-header icon="fa-key" title="Sign up">
        <a href="#" title="learn about Prudio">what is this about?</a>
      </rd-widget-header>

      <rd-widget-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur.
        </p>

        <hr>

        <form>
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="name" class="form-control" id="name" placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="john@mail.com">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="alongpasswordisthebestoption">
          </div>
          <div class="form-group">
            <button name="button" class="btn btn-primary">Sign Up</button> or do you already <a href="#">have an account?</a>
          </div>
        </form>

      </rd-widget-body>

      <rd-widget>

  </div>
</div>
