<div class="row">
	<div class="col-lg-12">
		<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li><a href="#/settings" role="tab" data-toggle="tab">General Settings</a></li>
				<li><a href="#/settings/account" role="tab" data-toggle="tab">My account</a></li>
				<li class="active"><a role="tab" data-toggle="tab">Subscriptions</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active">
					<div class="panel panel-default" style="border-top: 0; border-top-left-radius: 0; border-top-right-radius: 0;">
						<div class="panel-body">
							<h4>To do!</h4>
							<p>Sorry.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
