<div class="row">
	<div class="col-lg-12">
		<rd-widget>
      		<rd-widget-body classes="big alert-success">
				<div class="message">
					<h4>Welcome to Prud.io!</h4> Before you get started please complete the steps bellow!
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-indent" title="5 Steps">
			</rd-widget-header>
			<rd-widget-body classes="big no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td style="width: 30px" class="text-center"><span class="label label-success">1</span></td>
								<td><strike>Authorize your Slack team</strike> <button ng-click="authSlack()" class="btn btn-sm btn-default right">Auth Slack</button></td>
								<td style="width: 30px"><i class="fa fa-green fa-check"></i></td>
							</tr>
							<tr>
								<td style="width: 30px" class="text-center"><span class="label label-default">2</span></td>
								<td>Create a Bot user in your team</td>
								<td style="width: 30px"><i class="fa fa-gray fa-clock-o"></i></td>
							</tr>
							<tr>
								<td style="width: 30px" class="text-center"><span class="label label-default">3</span></td>
								<td>Create your first application</td>
								<td style="width: 30px"><i class="fa fa-gray fa-clock-o"></i></td>
							</tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
   		<rd-widget>
   			<rd-widget-header title="My first app">
   				<i class="fa fa-circle right"></i>
   			</rd-widget-header>
   			<rd-widget-body classes="no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td><small>0 conversations</small></td>
								<td><small style="text-align: right">Just now</small></td>
							</tr>
						</tbody>
					</table>
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>