<div ng-controller="MasterCtrl">

<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="toggleSidebar()">
          Prud.io
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list">
        <a href="#/">Home <span class="menu-icon fa fa-home"></span></a>
        <a href="#/apps">My apps <span class="menu-icon fa fa-tachometer"></span></a>
        <a href="#/app/create">Create new app <span class="menu-icon fa fa-plus"></span></a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="#/about">
          About
        </a>
      </div>
      <div class="col-xs-3">
        <a href="http://docs.prud.io/" target="_blank">
          Docs
        </a>
      </div>
      <div class="col-xs-5">
        <a id="supportLink" href="#">
          Support
        </a>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item">
              <a ng-click="logout()" href="#" title="Logout">
                <i class="fa fa-power-off"></i>
              </a>
            </div>
            <div class="item">
              <a href="#/settings" title="Settings">
                <i class="fa fa-cog"></i>
              </a>
            </div>
            <div ng-show="accounts.length > 1" class="account-dropdown">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAccounts" data-toggle="dropdown" aria-expanded="true">
                  Accounts ({{ accounts.length }})
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownAccounts">
                  <li ng-repeat="account in accounts" role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="#/account/{{ account.id }}/switch">{{ account.name }} <i class="fa fa-check" ng-show="(account.id == user.defaultAccountId)"></i> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              Dashboard
            </div>
            <div class="breadcrumb-links">
              Home / Dashboard
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <!-- Main Content -->
      <div ui-view></div>

    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->

</div>
<script src="https://static.prud.io/client.js?appid=34mvFnx2jJ2xyXDoon41zCo17ID0YVd2" async></script>
