/* This is a very draft example. MUST be revisited. */

/* Clean-Up Login Page */
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	font-style: italic;
}

.widget .widget-body button {
	margin-left: 0px;
}

.auth-wrapper {
  .logo {
    padding: 35px;
    text-align: center;
  }
}

.fa-green {
	color: #3c763d;
}

.fa-gray {
	color: #999999;
}

.account-dropdown {
	float: right; 
	margin: 12px 0;
}
